In [1]:
import numpy as np
import pandas as pd
import CSSS as CSSS
import sqlalchemy as sq
import matplotlib.pyplot as plt
import pytz
import datetime as dt

% matplotlib inline

In [2]:
import gc
for obj in gc.get_objects():
    if isinstance(obj, sq.engine.base.Engine):
        obj.dispose()

In [3]:
engine = sq.create_engine("postgresql+psycopg2://7gi6wEsghEgO:mnMRXtOPVvkX@dataport.pecanstreet.org:5434/postgres")
query="""SELECT dataid, count(*) FROM university.electricity_egauge_15min
WHERE local_15min
BETWEEN '01-01-2015' AND '01-01-2017' GROUP BY dataid """
datacounts = pd.read_sql_query(query,engine)

In [4]:
c = np.max(datacounts['count'])
duse = np.array(datacounts.loc[datacounts['count'] >= c,'dataid'])
duse[1]

4874

In [5]:
(c+96+8-1)/365/2

96.263013698630132

In [6]:
len(duse)

275

In [43]:
# import psycopg2
tstart = dt.datetime.now()
query="""SELECT dataid, local_15min, use, gen, air1, air2, air3, airwindowunit1, furnace1, furnace2 FROM university.electricity_egauge_15min
WHERE local_15min
BETWEEN '01-01-2015' AND '01-01-2016' AND electricity_egauge_15min.dataid in (""" + \
','.join([str(d) for d in duse[:1]]) + \
""");"""

the_frame = pd.read_sql_query(query,engine)
the_frame.sort_values('local_15min')
the_frame.tail()
print(dt.datetime.now() - tstart)

0:00:10.971643

In [8]:
the_frame["time"] = the_frame.set_index("local_15min").index.tz_localize(pytz.timezone('America/Chicago'), ambiguous = True)
the_frame["date"] = [ dt.datetime(d.year,d.month,d.day,0,0,0,0) for d in the_frame['time'] ]

In [19]:
import pickle as pk
pk.dump( the_frame, open( "demand.pkl", "wb" ) )

## Daylight Savings Time
It appears that pecan street consistently drops one hour each year when daylight savings time ends. At the onset of DST, the local time skips from 1:45 to 3:00 as it should. At the conclusion of DST, there are no additional 2am readings. Possibly this is an artifact of only the 15-minute data.

In [9]:
pytz.timezone('America/Chicago')

In [42]:
data = the_frame

In [53]:
tmp =pd.read_sql_query("""SELECT distinct(latitude,longitude) FROM university.weather LIMIT 10;""",engine)
tmp

                       row
0   (30.292432,-97.699662)
1  (32.778033,-117.151885)
2  (40.027278,-105.256111)

In [76]:
tmp = pd.read_sql_query("""
SELECT * FROM university.weather  
WHERE localhour
BETWEEN '01-01-2015' AND '01-01-2016'
;
""", engine)

['localhour',
 'latitude',
 'longitude',
 'tz_offset',
 'summary',
 'ozone',
 'ozone_error',
 'temperature',
 'temperature_error',
 'dew_point',
 'dew_point_error',
 'humidity',
 'humidity_error',
 'visibility',
 'visibility_error',
 'apparent_temperature',
 'apparent_temperature_error',
 'pressure',
 'pressure_error',
 'wind_speed',
 'wind_speed_error',
 'cloud_cover',
 'cloud_cover_error',
 'wind_bearing',
 'precip_intensity',
 'precip_intensity_error',
 'precip_probability',
 'precip_type']

In [77]:
pk.dump( the_frame, open( "weather.pkl", "wb" ) )