In [1]:
import numpy as np
import pandas as pd
import CSSS as CSSS
import sqlalchemy as sq
import matplotlib.pyplot as plt
import pytz
import datetime as dt
import pickle as pk

% matplotlib inline

In [2]:
## Close any open connections. 
import gc
for obj in gc.get_objects():
    if isinstance(obj, sq.engine.base.Engine):
        obj.dispose()
        
## Read key for PecanSt, Stored in text file
with open('keys/pecanstkey.txt','r') as f:
    key = f.read().strip()
    f.close()
    
    
## Create engine
engine = sq.create_engine("postgresql+psycopg2://%s@dataport.pecanstreet.org:5434/postgres" % key)

/usr/local/lib/python3.5/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

## Identify homes with complete data from Pecan Street
Isolate dates in 2015 and 2016

In [3]:
query="""SELECT dataid, count(*) FROM university.electricity_egauge_15min
WHERE local_15min
BETWEEN '01-01-2015' AND '01-01-2017' GROUP BY dataid """
datacounts = pd.read_sql_query(query,engine)

In [4]:
c = np.max(datacounts['count'])
duse = np.array(datacounts.loc[datacounts['count'] >= c,'dataid'])

In [30]:
query = "select * from information_schema.tables"
tab = pd.read_sql_query(query, engine)
tab[tab['table_schema'] == 'university']

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
124,postgres,university,indoor_temperature_sensor,VIEW,None,None,None,None,None,YES,NO,None
174,postgres,university,survey_2013_all_participants,VIEW,None,None,None,None,None,YES,NO,None
175,postgres,university,gas_ert,VIEW,None,None,None,None,None,YES,NO,None
176,postgres,university,water_ert,VIEW,None,None,None,None,None,YES,NO,None
177,postgres,university,survey_2013_field_descriptions,VIEW,None,None,None,None,None,YES,NO,None
178,postgres,university,pricing_events,VIEW,None,None,None,None,None,YES,NO,None
179,postgres,university,water_capstone,VIEW,None,None,None,None,None,YES,NO,None
180,postgres,university,weather,VIEW,None,None,None,None,None,YES,NO,None
181,postgres,university,civita_text_messages,VIEW,None,None,None,None,None,YES,NO,None
185,postgres,university,audits_2013_main,VIEW,None,None,None,None,None,YES,NO,None
187,postgres,university,survey_2014_all_participants,VIEW,None,None,None,None,None,YES,NO,None
189,postgres,university,survey_2012_all_participants,VIEW,None,None,None,None,None,YES,NO,None
190,postgres,university,survey_2014_field_descriptions,VIEW,None,None,None,None,None,YES,NO,None
193,postgres,university,electric_vehicles,VIEW,None,None,None,None,None,YES,NO,None
202,postgres,university,survey_2011_all_participants,VIEW,None,None,None,None,None,YES,NO,None
204,postgres,university,egauge_detailed_registers,VIEW,None,None,None,None,None,YES,NO,None
205,postgres,university,electricity_egauge_15min,VIEW,None,None,None,None,None,YES,NO,None
206,postgres,university,electricity_egauge_minutes,VIEW,None,None,None,None,None,NO,NO,None
212,postgres,university,survey_2012_field_descriptions,VIEW,None,None,None,None,None,YES,NO,None
213,postgres,university,audits_2013_duct_leakage_eval,VIEW,None,None,None,None,None,YES,NO,None
214,postgres,university,pricing_events_notifications,VIEW,None,None,None,None,None,YES,NO,None
215,postgres,university,audits_2011,VIEW,None,None,None,None,None,YES,NO,None
216,postgres,university,audits_2013_appliances,VIEW,None,None,None,None,None,YES,NO,None
217,postgres,university,electricity_egauge_hours,VIEW,None,None,None,None,None,YES,NO,None

In [42]:
query = "SELECT * from university.survey_2014_all_participants LIMIT 10"
list(pd.read_sql_query(query, engine))

['dataid',
 'status',
 'foundation_pier_beam',
 'foundation_slab',
 'spend_time_at_home_none',
 'spend_time_at_home_monday',
 'spend_time_at_home_tuesday',
 'spend_time_at_home_wednesday',
 'spend_time_at_home_thursday',
 'spend_time_at_home_friday',
 'ethnicity_asian_pacific_islander',
 'ethnicity_black_african_american',
 'ethnicity_caucasian_other_than_hispanic_or_latino',
 'ethnicity_hispanic_or_latino',
 'ethnicity_native_american_alaska_native',
 'ethnicity_other',
 'ethnicity_decline',
 'residents_under_5',
 'residents_6_to_12',
 'residents_13_to_18',
 'residents_19_to_24',
 'residents_25_to_34',
 'residents_35_to_49',
 'residents_50_to_64',
 'residents_65_and_older',
 'education_level',
 'total_annual_income',
 'pv_system_own',
 'pv_system_size',
 'pv_system_reason',
 'pv_system_satisfied',
 'pv_system_features_liked',
 'pv_system_features_for_improvement',
 'pv_system_features_surprising',
 'pv_system_common_questions',
 'pv_system_common_response',
 'pv_system_common_surprises',
 'pv_neg_factors_too_expensive',
 'pv_neg_factors_uncertainty',
 'pv_neg_factors_ugly',
 'pv_neg_factors_resale_value_concerns',
 'pv_neg_factors_none',
 'pv_neg_factors_other',
 'pv_pos_factors_independence',
 'pv_pos_factors_no_emissions',
 'pv_pos_rate_increase_protection',
 'pv_pos_factors_other',
 'pv_pos_factors_none',
 'pv_owner_response',
 'retrofits',
 'retrofits_detail',
 'irrigation_system',
 'ceiling_fans_count',
 'hvac_central_air_gas_furnace',
 'hvac_central_air_electric_furnace',
 'hvac_twoway_heat_pump',
 'hvac_geothermal_heat_pump',
 'hvac_window_ac',
 'hvac_ductless',
 'hvac_no_ac',
 'hvac_dont_know',
 'compressors_count',
 'compressor1_brand',
 'compressor1_year',
 'compressor1_model',
 'compressor2_brand',
 'compressor2_year',
 'compressor2_model',
 'compressor3_brand',
 'compressor3_year',
 'compressor3_model',
 'temp_summer_weekday_workday',
 'temp_summer_weekday_morning',
 'temp_summer_weekday_evening',
 'temp_summer_sleeping_hours_hours',
 'temp_summer_weekend_hours',
 'temp_winter_weekday_workday',
 'temp_winter_weekday_morning',
 'temp_winter_weekday_evening',
 'temp_winter_sleeping_hours_hours',
 'temp_winter_weekend_hours',
 'thermostats_brand',
 'programmable_thermostat_currently_programmed',
 'programmable_thermostat_difficulty',
 'ac_service_package',
 'electronic_devices_cable_box_number',
 'electronic_devices_dvr_number',
 'electronic_devices_wifi_number',
 'electronic_devices_game_system_number',
 'electronic_devices_on_other']

## Daylight Savings Time
It appears that pecan street consistently drops one hour each year when daylight savings time ends. At the onset of DST, the local time skips from 1:45 to 3:00 as it should. At the conclusion of DST, there are no additional 2am readings. Possibly this is an artifact of only the 15-minute data.

In [5]:
len(duse)

275

In [22]:
(c+96+8-1)/365/2

96.263013698630132

In [24]:
## Get data from all homes with complete data (about 300)
tstart = dt.datetime.now()
query="""SELECT dataid, local_15min, use, gen, air1, air2, air3, airwindowunit1, furnace1, furnace2 FROM university.electricity_egauge_15min
WHERE local_15min
BETWEEN '01-01-2015' AND '01-01-2016' AND electricity_egauge_15min.dataid in (""" + \
','.join([str(d) for d in duse]) + \
""");"""

the_frame = pd.read_sql_query(query,engine)
the_frame.sort_values('local_15min')
the_frame.tail()
print(dt.datetime.now() - tstart)

0:14:59.190775

In [25]:
## Localize the time and add a date column. 
the_frame["time"] = the_frame.set_index("local_15min").index.tz_localize(pytz.timezone('America/Chicago'), ambiguous = True)
the_frame["date"] = [ dt.datetime(d.year,d.month,d.day,0,0,0,0) for d in the_frame['time'] ]

In [26]:
## Dump as a pickle file. 
import pickle as pk
pk.dump( the_frame, open( "data/demand.pkl", "wb" ) )

In [ ]:
pytz.timezone('America/Chicago')

In [ ]:
data = the_frame

## Weather Data
Weather data are from three locations: Austin, Boulder and San Diego.  There is no way to tell which home is in each location.  I will label and keep all of them.

In [ ]:
locs =pd.read_sql_query("""SELECT distinct(latitude,longitude), latitude FROM university.weather LIMIT 10;""",engine)
locs['Location'] = ['Austin','San Diego','Boulder']
locs

In [ ]:
weather = pd.read_sql_query("""
SELECT * FROM university.weather  
WHERE localhour
BETWEEN '01-01-2015' AND '01-01-2016'
;
""", engine)

In [ ]:
weather = weather.merge(locs[['latitude','Location']])
weather.head()

In [ ]:
pk.dump( weather, open( "data/weather.pkl", "wb" ) )