In [32]:
import numpy as np
import pandas as pd
import CSSS as CSSS
import sqlalchemy as sq
import matplotlib.pyplot as plt

% matplotlib inline

In [29]:
# import psycopg2

engine = sq.create_engine("postgresql+psycopg2://7gi6wEsghEgO:mnMRXtOPVvkX@dataport.pecanstreet.org:5434/postgres")
the_frame = pd.read_sql_query('SELECT table_schema,table_name FROM information_schema.tables ORDER BY table_schema,table_name;', engine)
the_frame[the_frame['table_schema'].str.contains('university')]
#query gets everything for the week
query="""SELECT dataid, local_15min, use, gen, air1, air2, air3, airwindowunit1, furnace1, furnace2 FROM university.electricity_egauge_15min
WHERE local_15min
BETWEEN '01-01-2015' AND '01-1-2016' AND electricity_egauge_15min.dataid in (22, 114) """

the_frame = pd.read_sql_query(query,engine)
the_frame.head()

,dataid,local_15min,use,gen,air1,air2,air3,airwindowunit1,furnace1,furnace2
0,22,2015-01-01 00:00:00,0.072000,NaN,0.0,None,None,None,0.009000,None
1,22,2015-01-01 00:15:00,0.071867,NaN,0.0,None,None,None,0.009000,None
2,22,2015-01-01 00:30:00,0.130933,NaN,0.0,None,None,None,0.009067,None
3,22,2015-01-01 00:45:00,0.281200,NaN,0.0,None,None,None,0.009000,None
4,22,2015-01-01 01:00:00,0.263067,NaN,0.0,None,None,None,0.009000,None

In [30]:
the_frame.groupby("dataid").get_group(114).count()

dataid            35037
local_15min       35037
use               35037
gen               35037
air1              35037
air2                  0
air3                  0
airwindowunit1        0
furnace1          35037
furnace2              0
dtype: int64

In [ ]:
the_frame["local_"]